---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from "../../layouts/Layout.astro";
import FormattedDate from '../../components/heads/FormattedDate.astro';
import { Image } from 'astro:assets';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post: any) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();

---

<Layout
    title={post.data.title}
    description={post.data.description}
>
    <main class="container">
        <article>
            <div class="hero-image">
                {post.data.heroImage &&
                    <Image
                        src={post.data.heroImage + '.jpg'}
                        srcset={
                            `${post.data.heroImage}-thumbnail.webp 450w,` +
                            `${post.data.heroImage}-medium.webp 768w,` +
                            `${post.data.heroImage}-large.webp 1024w`
                        }
                        sizes="(max-width: 450px) 450px, (max-width: 768px) 768px, 1024px"
                        alt={post.data.title}
                        loading="eager"
                        width="1024"
                        height="512"
                    />
                }
            </div>
            <h1 class="title">{post.data.title}</h1>
            <div class="date"><FormattedDate date={post.data.pubDate} /></div>
            <Content />
        </article>
    </main>
</Layout>

<style is:global>
    
    article {
        padding: 2rem 0;
        max-width: 800px;
        margin: 0 auto;
    }
    .hero-image {
        width: 100%;
    }
    .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        aspect-ratio: 2 / 1;
        object-fit: cover;
        object-position: top;
    }
    .title {
        padding: 1em 0;
        text-align: center;
        line-height: 1;
        margin: 0;
    }
    .date {
        text-align: center;
        color: var(--gray-light);
        font-size: 0.9em;
        
    }

    h1 {
        font-size: 2.2em;
    }
    h2 {
        font-size: 1.8em;
    }
    h3 {
        font-size: 1.6em;
    }

    @media (min-width: 768px) {
        h1 {
            font-size: 2.5em;
        }
        h2 {
            font-size: 2.2em;
        }
        h3 {
            font-size: 2em;
        }
    }

    @media (min-width: 1024px) {
        h1 {
            font-size: 3em;
        }
        h2 {
            font-size: 2.5em;
        }
        h3 {
            font-size: 2.2em;
        }
    }

</style>